//////////////LOGO/*  */
.logo {
  height: 3.25rem;
  margin: 3rem;
}

//////////////sEARCH/*  */
.search {
  flex-basis: 40%;
  background-color: var(--color-light-grey1);
  display: flex;
  justify-content: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light2);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
    }
  }

  &__button {
    border: none;
    background-color: var(--color-light-grey2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}
//////////////USER NAVIGATION/*  */
.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    text-align: center;
    font-size: 1rem;
  }


  &__user-photo {
    margin-right: .5rem;
    height: 3.75rem;
    border-radius: 50%;
  }


}
////////SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    position: relative;
  }

  &__item::before {
    content: "";
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .3s,
                width .2s cubic-bezier(1,0,0,1) .2s,
                background-color .2s;
  }
  
  &__item:hover::before {
    width: 100%;
    transform: scaleY(1);
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }
  

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2.5rem;
  }
}

///////////LEGAL TEXT
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light3);
}